
html, body {
    margin-top: 0;
    padding: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } 

.picture {
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .picture:hover {
    filter: brightness(80%);
  }

h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
  
    ul {
        font-family: 'Poppins', sans-serif;
        list-style-type: none;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgb(210, 194, 220);
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        color: white;
        background-color:rgb(231, 223, 237);
      }
    
  a {
    color: rgb(139, 112, 182);
  }
  
  .header {
    background: #fff;
    color: rgb(159, 93, 93);
    height: auto;
  }

  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

  .header h1 {
    font-size: 40px;
    }

    hr {
        width: 30%;
        border-top: 1px dotted rgb(119, 79, 144);
    }
  
  .course a:hover {
    background: rgb(210, 194, 220);
    color: rgb(210, 194, 220);
    text-decoration: none;
  }
  
  .footer {
      width: 1100px;
      float: left;
      padding: 300px 0px 30px 30px;
  }
  
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }

  button { 
    background-color: rgb(210, 194, 220);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: rgb(230, 221, 235);
    color: rgb(153, 129, 168);
  }
  