.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 30px;
}

body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
}

ul {
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(210, 194, 220);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
  background-color:rgb(231, 223, 237);
}