
html, body {
  margin-top: 0;
  padding: 0 0 0 0;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1,h2,h3,h4 {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  ul {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(210, 194, 220);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
    background-color:rgb(231, 223, 237);
  }

a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 40px;
  }

.assignments {
  margin-left: 100px;
  margin-right: auto;
}  

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

