:root {
    --background: white;
    --foreground: rgb(128, 97, 147);
  
    font-family: "Rubik", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 1.5rem;
    background-color: var(--background);
    color: var(--foreground);
  }
  
  #gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
  [data-content]:before {
    content: attr(data-content);
    position: absolute;
    bottom: 0;
    background-color: var(--foreground);
    text-decoration: none;
    color: var(--background);
    font-weight: 600;
    padding: 0.4rem 0.7rem 0.3rem 0.7rem;
    border-top-right-radius: 1rem;
    z-index: 1;
  }
  
  a {
    text-decoration: none;
    position: relative;
    background-color: var(--foreground);
    outline: 1px solid var(--foreground);
    outline-offset: -1px;
    border-radius: 1rem;
    overflow: hidden;
    transition: 500ms;
  }
  
  a > iframe {
    aspect-ratio: 1;
    border: none;
    width: 100%;
    display: block;
  }
  .navbar li a:hover {
    color: white;
    background-color:rgb(231, 223, 237);
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    z-index: 1;
    overflow: hidden;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    opacity: 90%;
}
.navbar menu {
  padding-left: 10px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin:0px;
    
}
.navbar .menu li a{
    color: #fff;
    float: left;
    opacity: 90%
}

.navbar li {
  margin-right: 10px;
}